@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ragnarock</h1>
    <h2 class="display-6">Lav minder der varer</h2>
    <img src ="~/Images/disco.jfif" alt="uu"/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
