@page
@model Ragnarock.Pages.Shared.OmOSModel
@{
    ViewData["Title"] = "Om Os";
}
<table class="table">
    <thead>
        <div class="p-3 mb-2 bg-green text-dark">Om Os</div>
        <tr>
            <th>
                <p>Åbningstider </p>
<p>Mandag Lukket</p>
<p>Tirsdag 10:00-17:00</p>
<p>Onsdag 10:00-21:00</p>
<p>Torsdag 10:00-17:00</p>
<p>Fredag 10:00-17:00</p>
<p>Lørdag 10:00-17:00</p>
<p>Søndag 10:00-17:00</p>
            </th>
            <th>
                <p>ADRESSE</p>
                <p>RAGNAROCK</p>
                <p>Museet for pop, rock og ungdomskultur</p>
                <p>Rabalderstræde 16, Musicon</p> 
                <p>4000 Roskilde</p>
                <p>CVR. NR: 15570210</p> 
            </th>
            <th>
                <p>
                    KONTAKT OS</P>
                    <p>Administration:</p>

                   <p>+45 4631 6854</p> 

                  <p>ragnarock@romu.dk</p>  

                   <p>Man-fre: 09:00-15:00</p> 
                
            </th>
            <th>
                <p>SÆRLIGE ÅBNINGSDAGE</p>
<p>Skærtorsdag, langfredag, påskedag og 2. påskedag: 10:00 – 17:00</p>

<p>St. Bededag: 10:00 – 17:00</p>

<p>Kr. Himmelfartsdag: 10:00 – 17:00</p>

<p>Pinsedag og 2. pinsedag: 10:00-17:00</p>

<P>Grundlovsdag: 10:00-17:00</P>

<p>Mandage i uge 7, 8, 14 og 42: 10:00-17:00</p>
            </th>
            <th>
                <p>ENTRÉ</p>
<p>Voksne: 110 kr.</p>

<p>Grupperabat(min/15 pers.): 95 kr. pr. pers.</p>


<p>0-17 år : Gratis</p>

<p>Studierabat (studiekort forevises): 95 kr. pr. person</p>


<p>Fri entré til foyer, café, patio og butik.</p>
          
        </tr>
    </thead>


